[submodule "PCB/Libs/marbastlib"]
	path = PCB/Libs/marbastlib
	url = git@github.com:ebastler/marbastlib.git
[submodule "PCB/Libs/OLED-SSD1306"]
	path = PCB/Libs/OLED-SSD1306
	url = git@github.com:gorbachev/KiCad-SSD1306-0.91-OLED-4pin-128x32.pretty.git
[submodule "PCB/Libs/supermini-nrf52840-kicad"]
	path = PCB/Libs/supermini-nrf52840-kicad
	url = git@github.com:BlueDrink9/supermini-nrf52840-kicad.git
[submodule "keeby-zmk-config"]
	path = keeby-zmk-config
	url = git@github.com:codecooker1/keeby-zmk-config.git
